* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #000033;
}

.hero-container {
    color: lightgrey;
    text-align: center;
}

.choices-container {
    background: linear-gradient(to top left, #00ffff 21%, #ff99cc 61%);
    text-align: center;
}

button {
    margin: 2rem;
    padding: 2rem;
    font-weight: bold;
    font-size: 20px;

    border: rgb(39, 19, 19) 3px solid;
    
    border-radius: 0.20em;

    /* containing block for pseudo elements */
    position: relative;
}

/* pseudo elements */

button::before {
    pointer-events: none;
    content:"";
    position: absolute;
    background: 
}

button::after {
    content: "";
    position: absolute;
    transition: opacity 90ms linear;s
}

button:hover,
button:focus {
    background: linear-gradient(to top left, #0000ff -3%, #990099 105%);
    color: white; 
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: white;
}